<ul class="nav justify-content-end" style="background-color:#f1ecec">
    <li class="nav-item">
        <span class="nav-link">{{userName}}</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">LogOut</a>
    </li>
  </ul>