<app-header></app-header>
<div class="col-md-12 user-container">
    <h2> Book List</h2>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-success " style="width:100px" (click)="addBook()"> Add Book</button>
        </div>
        <form class="form-inline col-md-6">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button"  (click)="commanSearch()">Search</button>
          </form>
    </div>
  
    <nz-table  #basicTable [nzData]="listOfDisplayData" [nzNoResult]="'No Data'" 
       style="margin-top: 20px;" [nzPageSize]="pageSize">
      <thead (nzSortChange)="sort($event)" nzSortFn>
        <tr>
        <th>Title</th>
        <th nzShowSort nzColumnKey="price">Price</th>
        <th>Author</th>
        <th nzShowSort nzColumnKey="ratings">Ratings </th>
        <th>Category </th>
        <th>Description</th>
        <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.title}}</td>
          <td>{{data.price}}</td>
          <td>{{data.author}}</td>
          <td>{{data.ratings}}</td>
          <td>{{data.category}}</td>
          <td>{{data.description}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteBook(data)"> Delete</button>
            <button class="btn btn-success" (click)="editBook(data)" style="margin-left: 20px;"> Edit</button>
          </td>
         
        </tr>
      </tbody>
    </nz-table>
</div>
