<app-header></app-header>
<div class="col-md-6">
    <h1>{{page == 'Edit' ? 'Update Book Details' : 'Add Book Details'}}</h1>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
          <div class="error" *ngIf="addForm.controls['title'].hasError('required') && addForm.controls['title'].touched">Title is required</div>
        </div>
    
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" formControlName="price" placeholder="Price" name="price" class="form-control" id="price">
          <div class="error" *ngIf="addForm.controls['price'].hasError('required') && addForm.controls['price'].touched">Price is required</div>
        </div>
    
        <div class="form-group">
          <label for="author">Author:</label>
          <input formControlName="author" placeholder="Author Name" name="authorName" class="form-control" id="authorName">
          <div class="error" *ngIf="addForm.controls['author'].hasError('required') && addForm.controls['author'].touched">Author is required</div>
        </div>
    
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea formControlName="description"row="3" placeholder="Description" name="description" class="form-control" id="description">
          </textarea>
          <div class="error" *ngIf="addForm.controls['description'].hasError('required') && addForm.controls['description'].touched">Description is required</div>

        </div>
    
        <div class="form-group">
          <label for="category">Category:</label>
          <input type="text" formControlName="category" placeholder="Category" name="category" class="form-control" id="category">
          <div class="error" *ngIf="addForm.controls['category'].hasError('required') && addForm.controls['category'].touched">Category is required</div>

        </div>
    
        <div class="form-group">
          <label for="ratings ">Ratings :</label>
          <nz-rate formControlName="ratings"></nz-rate>
        </div>
    
        <button class="btn btn-success" [disabled]="addForm.invalid">{{page == 'Edit' ? 'Update' : 'Add'}}</button>
        <button class="btn btn-secondary" [routerLink]="['/booklist']" style="margin-left: 20px;">Cancel</button>
    
      </form>
</div>


